<div class="col-md-3 border mt-6 bg-white p-5 rounded-lg shadow">
  <div>
    <h3 class="">Activity</h3>
    <div>
      <div class="card-profile border">
        <div class="mt-1">
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-desktop me-2"></i>
            <p class="fw-normal">Web<p>
          </div>
          <p class="mb-0">Bs.As. Argentina</p>
        </div>
        <div class="mt-1 ms-2">
          <p>186.189.238.120</p>
          <p class="mb-0">2022-07-14 21:48</p>
        </div>
      </div>
      <div class="card-profile border">
        <div class="mt-1">
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-mobile-screen me-2"></i>
            <p class="fw-normal">Ios<p>
          </div>
          <p class="mb-0">Bs.As. Argentina</p>
        </div>
        <div class="mt-1 ms-1">
          <p>186.189.238.0</p>
          <p class="mb-0">2022-05-24 23:54</p>
        </div>
      </div>
    </div>
  </div>
  <h3 class="mt-6">Increase your account security</h3>
  <div>
  <div class="card-profile border">
    <div class="mt-1">
      <div class="d-flex align-items-center">
        <p class="fw-normal"><i class="fa-solid fa-circle fa-xs me-2" style="color: #6cc551"></i>Enable 2FA<p>
      </div>
        <p class="mb-0">Enabled</p>
      </div>
      <div class="mt-1 ms-2">
        <p class="fw-normal"><i class="fa-solid fa-circle fa-xs me-2" style="color: #6cc551"></i>Verify</p>
        <p class="mb-0">Verified</p>
      </div>
    </div>
  </div>
  <div class="card-profile border">
    <div class="mt-1">
      <div class="d-flex align-items-center">
        <p class="fw-normal">Anti-phishing Code<p>
      </div>
        <p class="mb-0 fw-normal text-decoration-underline" style="color: #f7b801">Setup</p>
      </div>
      <div class="mt-1 ms-2">
        <p class="fw-normal">Turn-on Withdrawal</p>
        <p class="mb-0 fw-normal text-decoration-underline" style="color: #f7b801">Turn on</p>
      </div>
    </div>
  </div>
</div>
