<h1>Aca va la vista donde ves tu perfil y tu exchange y podes editar cada una de ellas</h1>
<%= @bio.username %>
<br>
<h1>Aca abajo pondria las cosas del exhcange</h1>
<% if @bio.user.exchange.nil? %>
  <%= link_to "Add Exchange", new_exchange_path %>
<% else %>
  <%= @bio.user.exchange.name %>
<% end %>
<% # Agregarle ocultar @bio.user.exchange.read_key %>
<% # Agregarle ocultar @bio.user.exchange.write_key %>
