<div class="container">
  <br>
  <br><span class="is-size-4">Tu Portfolio</span>
  <br><br>
  <div class="rounded-lg overflow-hidden shadow p-4 bg-white" >
    <% pnl_hash = {} %>
    <% @trades.each do |trade| %>
      <% if !trade.pnl.nil?  %>
        <% pnl_hash[trade.created_at] = trade.pnl %>
        <!--<%# pnl_hash[trade.created_at.strftime("%a-%H-%M")] = trade.pnl %>-->
      <% end %>
    <% end %>

  <% position_hash = {} %>
    <% @positions.each do |position| %>
    <% if !position.pnl.nil?  %>
      <% position_hash[position.created_at] = position.pnl %>


      <%= position.trade.trader.bio.username %>
      <p>Moneda</p>
      <%= position.trade.symbol %>
      <p>Side</p>
      <%= position.trade.side %>
   <% end %>   
  <% end %>

    <%= line_chart [{name: 'trades', data: pnl_hash}, {name: 'positions', data: position_hash}], title: "Rendimiento", colors: ["#495ec6", ], dataset: {borderWidth: 5},round: 2%>
  </div>
</div>

<!--
      <%# position.trade.trader.bio.username %>
      <p>Moneda</p>
      <%# position.trade.symbol %>
      <p>Side</p>
      <%# position.trade.side %>
      -->