<h2>Bienvenido a TradeIt, <%= @user.email %></h3>
<h4>
  Explorá traders que cumplan tus necesidades, filtrá por riesgo y rendimientos, todo a un click en TradeIt: <%= link_to "Ver traders", root_url %>
</h4>
<br><br><br>
<p>Cualquier duda, no dudes en contactarnos a wetradeitt@gmail.com</p>