// Import page-specific CSS files here.
@import "home";

.card a {
  color: #6B7280;
}

.card {
	transition: all 0.1s ease;

}
  
.card:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.05);
}

.explore a {
  color: white;
}

.color a {
  color: white;
}

.tag a:hover {
  color: #A8B8CB;
}

.button-trade-container {
  position:fixed;
  bottom:50px;
  right:70px;
  cursor:pointer;
}

.button a {
  text-decoration: none;
  color: white;
}


