#trade_symbol {
	border-radius: 10px;
	border-color: #485FC7;
	border-width: 1.5px;
	box-shadow: 0.3px 0.3px;
	color: #737987;
	font-weight: bold;
	background-color: #EEF1FA;
}

#trade_side {
	border-radius: 10px;
	border-color: #485FC7;
	border-width: 1.5px;
	box-shadow: 0.3px 0.3px;
	color: #737987;
	font-weight: bold;
	background-color: #EEF1FA;
}

#trade_entry_price {
	background-color: #EEF1FA;
	border-radius: 5px;
	border-color: #485FC7;
}

#trade_take_profit {
	background-color: #EEF1FA;
	border-radius: 5px;
	border-color: #485FC7;
}

#trade_stop_loss {
	background-color: #EEF1FA;
	border-radius: 5px;
	border-color: #485FC7;
}

#subscription_amount_per_trade{
	background-color: #EEF1FA;
	border-radius: 5px;
	border-color: #485FC7;
}

#subscription_max_amount{
	background-color: #EEF1FA;
	border-radius: 5px;
	border-color: #485FC7;
}




