<div class="container">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <br><br>
    <div class="rounded-lg overflow-hidden shadow max-w-3xl mx-auto" style="width: 75%;">
      <div class="bg-white p-5 ">
        <div class="sm:flex sm:items-center sm:justify-between">
          <div class="sm:flex sm:space-x-5">
            <div class="flex-shrink-0">
              <img class="mx-auto h-20 w-20 rounded-full" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
            </div>
            <div class="mt-4 text-center sm:mt-0 sm:pt-1 sm:text-left">
              <p class="text-xl font-bold text-gray-900 sm:text-2xl">Luca Pagano</p>

            </div>
          </div>
          <div class="mt-5 flex justify-center sm:mt-0">
  <a class="inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 boton-copiar">Copiar</a>

          </div>
        </div>
      </div>
      <div class="border-t border-gray-200 bg-gray-50 grid grid-cols-1 divide-y divide-gray-200 sm:grid-cols-3 sm:divide-y-0 sm:divide-x">
        <div class="px-6 py-5 text-sm font-medium text-center">
          <span class="text-gray-900">Rendimiento:</span>
          <span class="text-gray-600">15%</span>
        </div>

        <div class="px-6 py-5 text-sm font-medium text-center">
          <span class="text-gray-900">Volatilidad</span>
          <span class="text-gray-600">30%</span>
        </div>

        <div class="px-6 py-5 text-sm font-medium text-center">
          <span class="text-gray-900">Trades:</span>
          <span class="text-gray-600">50</span>
        </div>
      </div>
    </div>
   

    <div>
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="rounded-lg overflow-hidden shadow max-w-3xl mx-auto" style="width: 65%;"
      <ul role="list" class="divide-y divide-gray-200">
    <div class=" px-4 py-5 border-b border-gray-200 sm:px-6">
      <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-nowrap">
        <div class="ml-4 mt-2 ">
          <h3 class="tag is-link is-large">Trades Historial</h3>
        </div>
      </div>
    </div>
        <li class="p-4 border-t" style="list-style: none;">
          <div class="flex space-x-3">
            <img class="image is-64x64 rounded-full p-0" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
            <img class="image is-24x24 rounded-full" src="https://bitcoin.org/img/icons/opengraph.png?1652976465" alt="">   
            <div class="flex-1 space-y-1">
              <div class="level">
                <p class="level-left pl-5 is-size-5">Luca Pagano</p>
                <p class="level-right tag is-success is-medium">LONG</p>
              </div>
              <div class="grid grid-cols-1 divide-y divide-gray-200 sm:grid-cols-3 sm:divide-y-0 sm:divide-x">
                <div class="px-6 py-1 text-sm font-medium text-center">
                  <span class="tag is-light is-link is-medium">Entry:</span>
                  <span class="text-gray-600">21.000</span>
                </div>

                <div class="px-6 py-1 text-sm font-medium text-center">
                  <span class="tag is-light is-link is-medium">Exit:</span>
                  <span class="text-gray-600">21.200</span>
                </div>

                <div class="px-6 py-1 text-sm font-medium text-center">
                  <span class="tag is-light is-link is-medium">PnL:</span>
                  <span class="text-gray-600">+5%</span>
                </div>
              </div>
            </div>
          </div>
        </li>



        </div>
        </div>

        <!-- More items... -->
      </ul>
    </div>
  </div> 
</div>  