.card-subscriptor {
  background-color: white;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 2px 2px 6px grey;
  h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 8px;
    text-align: center;
  }
}

.subscriptor-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px ;
  padding-top: 20px;
}

.cards_subscriptors {
  background-color: white;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 2px 2px 6px grey;
}

.card_subscriptor_content {
  display: flex;
  h2 {
    font-weight: bold;

  }
  img {
    object-fit: cover;
    margin-right: 12px;
    margin-bottom: 16px;
  }
}
.card_subscriptor_footer {
  display: flex;
  justify-content: space-between;
}
