
.title-profile {
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight:bolder;
  margin-bottom: 6px;
}

.subtitle-profile{
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
  font-weight:lighter;
  margin-bottom: 12px;
}
